.layout-row {
    display: flex;
    flex-direction: row;
}

.layout-column {
    display: flex;
    flex-direction: column;
}

.layout-align {
    
}

.layout-fill {
    align-items: stretch;
}

.flex {
    $breakpoints: 0 5 10 15 20 25 30 100/3 35 40 45 50 55 60 65 200/3 70 75 80 85 90 95 100;

    flex: 1 1 auto;

    @each $bp in $breakpoints {
        &--#{$bp} {
            flex: 1 1 #{$bp + "%"};
        }
    }

    &--noshrink {
        flex-shrink: 0;
    }

    &--nogrow {
        flex-grow: 0;
    }
}