@import "./layout";

html {
    font-size: 62.5%;
}

body {
    font-size: 1.4rem;
    font-family: 'Roboto', sans-serif;
}

html, body, #root {
    min-height: 100vh;
}

.text-center {
    text-align: center !important;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.margin {
    $step: 5;

    // ($step * $i)px of margin (3 steps = margin 0px, margin 5px, margin 10px and margin 15px)
    @for $i from 0 through 3 {
        $val: $i * $step;

        &--#{$val} {
            margin: #{($val) + "px"};
        }

        &-top--#{$val} {
            margin-top: #{($val) + "px"} !important;
        }

        &-bottom--#{$val} {
            margin-bottom: #{($val) + "px"} !important;
        }

        &-left--#{$val} {
            margin-left: #{($val) + "px"} !important;
        }

        &-right--#{$val} {
            margin-right: #{($val) + "px"} !important;
        }
    }
}

.padding {
    $step: 5;

    // ($step * $i)px of padding (3 steps = padding 0px, padding 5px, padding 10px and padding 15px)
    @for $i from 0 through 3 {
        $val: $i * $step;

        &--#{$val} {
            padding: #{($val) + "px"};
        }

        &-top--#{$val} {
            padding-top: #{($val) + "px"} !important;
        }

        &-bottom--#{$val} {
            padding-bottom: #{($val) + "px"} !important;
        }

        &-left--#{$val} {
            padding-left: #{($val) + "px"} !important;
        }

        &-right--#{$val} {
            padding-right: #{($val) + "px"} !important;
        }
    }
}