$sidebar-width: 220px !default;
$navbar-height: 50px !default;
$footer-height: 40px !default;

.app {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 
        [sidebar-start] $sidebar-width [sidebar-end content-col-start] auto [content-col-end];
    grid-template-rows: [navbar-start] $navbar-height [navbar-end content-row-start] auto [content-row-end footer-start] $footer-height [footer-end];

    .content-container {
        grid-column-start: content-col-start;
        grid-column-end: content-col-end;
        grid-row-start: content-row-start;
        grid-row-end: content-row-end;
        justify-items: center;
        align-items: start;
    }
}
